{:paths ["src"]

 ;; No deps ^_^
 :deps {}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/clojure {:mvn/version "1.11.3"}
                                org.clojure/clojurescript {:mvn/version "1.11.132"}

                                lambdaisland/kaocha           {:mvn/version "1.90.1383"}
                                lambdaisland/kaocha-cljs      {:mvn/version "1.5.154"}
                                lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}

                                minimallist/minimallist {:mvn/version "0.0.10"}}}

           :depstar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}}

           ; clojure -M:outdated --upgrade
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.8.1201"}}
                      :main-opts  ["-m" "antq.core"]}}}

;; Memo for deploying a new release:
;; - change the version in pom.xml
;; - update the pom.xml's dependencies:
;;     clj -Spom
;; - build the jar:
;;     clojure -A:depstar -m hf.depstar.jar diffuse.jar -v
;; - deploy:
;;     mvn deploy:deploy-file -Dfile=diffuse.jar -DpomFile=pom.xml -DrepositoryId=clojars -Durl=https://clojars.org/repo/
;; - add a tag "v0.x.y" to the latest commit and push to repo
